<!DOCTYPE html>

<html> 
    <head>
    <title>Upload Test</title>
    <style>
        input{
            margin-right: 10px;
            margin-bottom: 5px;
            margin-top: 5px;
            color: grey;
        }
    </style>
    </head> 
    <body> 

        <h1> Smart Contract Management System</h1>
        <br>
        <form action='{% url "sorting" %}' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            트렌젝션 이름 입력
            {{ form }} 
            <br>
            <input type="submit" value="Submit" />
        </form>

    </body> 
</html>